<main>
  <div id="container">
    <div id="container-left">
      <a routerLink=""><img class="logo" src="/assets/imagens-main/tonto-lanches.png" alt="logo"></a>
      <h1>Bem vindo</h1>
      <h2>entre para acessar a página</h2>
    </div>

    <div id="container-right">
      <h2>Login</h2>

    <div class="container-content">
      <input type="email" placeholder="Email" required>
      <input type="password" placeholder="Senha" required>

      <button id="submit" type="submit">Continue</button>

      <p id="outras-formas">Outras formas</p>

      <button id="login-google">Conecte com o google</button>

      <a routerLink="/signup" id="cadastro-button">Cadastre-se</a>
    </div>

    </div>
  </div>
</main>