<div class="toolbar-main">
  <a routerLink=""><img id="logo-header" class="logo" src="/assets/imagens-main/tonto-lanches.png" alt="logo"></a>

  <div class="container-nav-list">
    <ul class="nav-list">
      <li><a class="link" routerLink="">Início</a></li>
      <li><a class="link" routerLink="">Produtos</a></li>
      <li><a class="link" routerLink="/lojas">Lojas</a></li>
      <li *ngIf="!lojaExists; else minhaLanchonete"><a class="link" routerLink="/createLanchonete">Registrar Lanchonete</a></li>
      
      <!-- <li><a class="link" routerLink="/createLanchonete" >Registrar Lanchonete</a></li> -->
    </ul>
  </div>

  <ion-searchbar id="search" placeholder="Pesquise por uma lanchonete"></ion-searchbar>
  <ul class="nav-list">

    <div *ngIf="isLoggedIn; else loginButton" id="container-user-name">
      <p>Bem vindo! <br> {{userName}}</p>

      <li id="minha-conta" (click)="logout()">
        <a class="link">Sair</a>
      </li>
    </div>

    <ng-template #loginButton>
      <li><a class="link" routerLink="/login">Login</a></li>
    </ng-template>
    <ng-template  #minhaLanchonete>
      <li><a class="link">Minha Lanchonete</a></li>
    </ng-template>
  </ul>
</div>