<ion-header>
  <app-nav-bar> </app-nav-bar>

</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div class="container-text">
      <p>Venha fazer parte da Tonto Lanches e cadastre já sua empresa em nosso site, clique <a
          routerLink="/createLanchonete" class="texto-destaque link">aqui</a> e faça isso em poucos cliques</p>
      <p>Se você estiver com fome pode procurar por lanchonetes registradas na sua região</p>
    </div>
    <img id="logo-main" class="logo" src="/assets/imagens-main/tonto-lanches.png" alt="">
  </div>
</ion-content>