#container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 60vh;
  width: 100vw;

  background-color: var(--ion-background-color-gray);

  .container-text {
    flex-direction: column;
  }

  p {
    font-size: 1.5rem;
    color: var(--ion-text-color2);

    width: 550px;
    text-align: center;
  }
  .texto-destaque {
    color: var(--ion-color-destaque);
    cursor: pointer;
  }

  #logo-main {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 920px) {
  #container {
    flex-direction: column;
    height: 40vh;
    p {
      width: 100%;
    }
    #logo-main {
      width: 250px;
      height: 250px;
    }
  } 
}

@media screen and (max-width: 600px) {
  #container {
    p {
      font-size: 1rem;
      width: 100%;
    }
    #logo-main {
      width: 150px;
      height: 150px;
    }
  } 
}