#container-banners {
    width: 100%;
    margin: 30px 0px;
    background-color: var(--ion-background-color-gray);

    .banner {
        display: flex;
        align-items: center;
        margin: auto;
        width: 92%;

        img {
            height: 500px;
            width: 100%;
        }

        .icon {
            cursor: pointer;
        }
        .icon:hover {
            transition: all 0.5s;
            opacity: 0.8;
        }
        #icon-left {
            border-radius: 50%;
            background-color: white;
            width: 50px;
            height: 50px;
            position: absolute;
            left: 7%;
            display: flex;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 7%;
            }
        }

        #icon-right {
            border-radius: 50%;
            background-color: white;
            width: 50px;
            height: 50px;
            position: absolute;
            right: 7%;
            display: flex;
            align-items: center;

            img {
                width: 40px;
                height: 40px;
                position: absolute;
                right: 7%;
            }
        }
    }
}