<main>
  <div id="container">
    <div id="container-left">
      <a routerLink=""><img class="logo" src="/assets/imagens-main/tonto-lanches.png" alt="logo"></a>
      <h1>Crie já sua conta</h1>
    </div>

    <div id="container-right">
      <h2>Cadastre-se</h2>

      <div class="container-content">
        <form [formGroup]="signupForm">
          <input type="text" placeholder="Nome de usúario" formControlName="user">

          <input type="email" placeholder="Email" formControlName="email"> 
          <input type="password" placeholder="Senha" formControlName="password"> 
          <!-- <input type="password" placeholder="Reescreva a senha" equired> -->

          <div id="tipo-conta">
            <ion-item *ngFor="let item of items">
              <ion-checkbox  slot="start" [checked]="item.checked" (ionChange)="onCheckboxChange(item)"></ion-checkbox>
              <ion-label>{{item.label}}</ion-label>
            </ion-item>
          </div>

          <ion-button id="submit" type="submit" [disabled]="signupForm.invalid" (click)="signup()" expand="block">Enviar</ion-button>

          <p id="outras-formas">Outras formas</p>
          <button id="login-google" >Conecte com o google</button>
          <a routerLink="/login" id="login-button">login</a>
        </form>
      </div>
    
    </div>
  </div>
</main>