// header ==>
.logo {
    filter: saturate(.6);
  }
  
  .toolbar-main{
    height: 10vh;
    background-color: var(--ion-toolbar-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
    .toolbar-content {
      display: flex;
      align-items: center;
    }
    #logo-header {
      width: 85px;
      height: 70px;
    
      margin:0px 20px;
      
    }
    .container-nav-list{
      width: 100%;
    }
    .nav-list {
      display: flex;
      justify-content: space-around;
      list-style:none;
    }
    #search {
      width: 80%;
      height: 35px;
      margin: 0px 20px;
      
      color: var(--ion-text-color2);
    }
    
    #minha-conta {
      margin: 0px 20px;
    }
  
    .link{
      cursor: pointer;
      color: var(--ion-text-color);
      text-decoration: none;
    }
    .link:hover{
      color: var(--ion-text-color2);
      transition: all .2s;
    }
  }
  //main ==> 
  
  #container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
    height: 80vh;
    width: 100vw;
  
    background-color: var(--ion-background-color);
  
    .container-text{
      flex-direction: column;
    }
  
    p {
      font-size: 23px;
      color: var(--ion-text-color2);
    
      width: 550px;
      text-align: center;
    }
    .texto-destaque {
      color: var(--ion-color-destaque);
      cursor: pointer;
    }
    
     #logo-main {
      width: 300px;
      height: 300px;
    } 
    
  }