<ion-header>
  <div class="toolbar-main">
    <a routerLink=""><img id="logo-header" class="logo" src="/assets/imagens-main/tonto-lanches.png" alt="logo"></a>
    
    <div class="container-nav-list">
      <ul class="nav-list">
        <li class="link">Início</li>
        <li class="link">Produtos</li>
        <li class="link">Lanchonetes</li>
        <li class="link"><a routerLink="/createLanchonete">Registrar Lanchonete</a></li>
      </ul>
    </div>

    <ion-searchbar id="search" placeholder="Pesquise por uma lanchonete"></ion-searchbar>
    <ul class="nav-list">
      
      <div *ngIf="isLoggedIn; else loginButton" id="container-user-name">
        <p>Bem vindo! <br> {{userName}}</p>

        <li id="minha-conta" (click)="logout()">
          <a class="link">Sair</a>
        </li>
      </div>

      <ng-template #loginButton>
        <li><a class="link" routerLink="/login">Login</a></li>
      </ng-template>

    </ul>
  </div>
</ion-header>

<ion-content [fullscreen]="true"> 
  <div id="container">
    <div class="container-text">
      <p>Venha fazer parte da Tonto Lanches e cadastre já sua empresa em nosso site, clique <a
          class="texto-destaque link">aqui</a> e faça isso em poucos cliques</p>
      <p>Se você estiver com fome pode procurar por lanchonetes registradas na sua região</p>
    </div>
    <img id="logo-main" class="logo" src="/assets/imagens-main/tonto-lanches.png" alt="">
  </div>
</ion-content>